@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.pagewrapper {
    display: flex;
    height: 100vh;
}

.left {
    width: 75vw;
    padding: 1em;
}

.right {
    width: 25vw;
    background-color: lightgray;
    padding: 1em;
}

#certificate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 776px;
    width: 1004px;
    background-repeat: no-repeat;
    font-size: 70px;
    color: #D3AD75;
    font-family: "Gupter", serif;
    font-weight: 700;
    font-style: normal;
}

span {
    margin: 270px;
}

p {
    font-size: 20px;
}

.number1 {
    background-image: url(images/hs-field-trip-cert.jpg);
}

.number2 {
    background-image: url(images/weight-cert.jpg);
}

.number3 {
    background-image: url(images/injury-cert.jpg);
}

@media print {
    #myForm{display: none;}
}